* {
  padding: 0%;
  margin: 0%;
  border: 0;
}

#root {
  /* font-family: 'Crimson Text', serif;
  font-family: 'Great Vibes', cursive;
  font-family: 'Playfair Display SC', serif; */
}

/*=============================================================================================================================================
=================================================== NAVBAR ====================================================================================
============================================================================================================================================*/

/*=============================================================================================================================================
=================================================== COURSE CARD ===============================================================================
=============================================================================================================================================*/

.course-tittle {
  text-align: center;
  text-transform: capitalize;
  color: rgb(106, 153, 255);
  margin-bottom: 3%;
}

.course-card {
  border-radius: 2%;
  box-shadow: 10px 10px 5px #aaaaaa;
  border: 1px solid #bfbfbf;
  padding: 5%;
  margin: 8% 0 1% 0;
}

.course-card:hover {
  border-radius: 2%;
  width: 101%;
  box-shadow: 10px 10px 5px #aaaaaa;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}

.course-pic {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.page-title {
  text-align: center;
  text-transform: capitalize;
  color: rgb(106, 153, 255);
  padding: 3% 0;
}

.course-short-desc {
  padding: 3% 0 0 7%;
}

.pt-icon {
  color: rgb(247, 47, 44);
}
/*=============================================================================================================================================
=================================================== HOME PAGE ===============================================================================
=============================================================================================================================================*/
.Homepage_illus img {
  max-width: 100%;
  max-height: 100%;
}

.Homepage1_content {
  font-family: Inter;
  padding-top: 35%;
  font-style: bold;
  font-family: 'Crimson Text', serif;
  font-family: 'Great Vibes', cursive;
  font-size: 300%;
  color: #666;
  text-align: justify;
}

.getstarted_btn button {
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

.intro-content {
  text-align: justify;
  font-family: 'Crimson Text', serif;
  padding: 10%;
  font-size: 200%;
}

.intro_image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  border-radius: 20px;
}

.sub-tittle {
  text-align: center;
  padding-top: 3%;
  font-family: 'Crimson Text', serif;
  font-family: 'Great Vibes', cursive;
  font-size: 400%;
  color: #666;
}

.most_rated_1 {
  color: #fff;
  background-color: #1b2e35;
  padding: 5%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5%;
}

.most_rated_1 img {
  max-width: 70%;
}

.join_btn {
  color: #fff;
  background-color: #1e1e1e;
  padding: 5px;
  border-radius: 5px;
}

.most_rated_1 ul {
  text-align: left;
  font-size: large;
  padding: 5%;
  margin-left: 2rem;
}
.most_rated_1 h3 {
  color: #fff;
  padding: 10px;
}

.section {
  padding: 1%;
}
/*=============================================================================================================================================
=================================================== CONTACT US ===============================================================================
=============================================================================================================================================*/

.contact {
  padding: 2%;
}

.address-box {
  background-color: #777;
  color: #fff;
  text-align: right;
  margin: 5% 0 10% 20%;
  padding: 3%;
  border-radius: 2%;
  /* word-spacing: 6px; */
}

.address-box h5 {
  color: white;
  text-align: left;
}

.map-logo {
  height: 95%;
  max-width: 100%;
}

/*================================================
================== COURSE DETAIL Area CSS ==================
=================================================*/

.faq-accordion-tab .react-tabs__tab-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 60px;
  text-align: center;
  border: none;
}

.faq-accordion-tab .react-tabs_tab-list .react-tabs_tab {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  color: #555;
  text-decoration: none;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;
  box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;
  font-size: 16px;
  font-weight: 800;
}

.faq-accordion-tab .react-tabs_tab-list .react-tabs_tab i {
  font-size: 30px;
  font-weight: 400;
}

.faq-accordion-tab .react-tabs_tab-list .react-tabs_tab span {
  display: block;
  margin-top: 8px;
}

.faq-accordion-tab .react-tabs_tab-list .react-tabs_tab:hover {
  background-color: #fff;
  color: #555;
}

.faq-accordion-tab
  .react-tabs_tab-list
  .react-tabstab.react-tabs_tab--selected {
  background-color: #fff;
  color: #555;
}

.faq-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  border: none;
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion__item {
  border-radius: 5px;
  display: block;
  -webkit-box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;
  box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;
  background: #fff;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.faq-accordion .accordion .accordion__item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion__button {
  padding: 20px 25px;
  background-color: #fff;
  color: #555;
  text-decoration: none;
  position: relative;
  display: block;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 800;
}

.faq-accordion .accordion .accordion__button i {
  position: absolute;
  left: 25px;
  top: 18px;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq-accordion .accordion .accordion__button.active i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq-accordion .accordion .accordion__panel {
  position: relative;
  margin-top: -5px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 48px;
  padding-top: 0;
}

.faq-accordion .accordion .accordion__panel p {
  line-height: 1.8;
}

.tab .tabs-item {
  display: none;
}

.tab .tabs-item:first-child {
  display: block;
}

/*=============================================================================================================================================
=================================================== COURSE CONTENTS ====================================================================================
============================================================================================================================================*/

.course-header {
  /* background-image: url("../images/CourseDetail.jpeg"); */
  padding: 6%;
}

.course-contents {
  border-top: 1px solid #bfbfbf;
  padding-bottom: 60px;
}

.course-features {
  font-family: 'Crimson Text', serif;
  font-family: 'Great Vibes', cursive;
  border-radius: 1%;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-top: 1px solid #bfbfbf;
  margin-bottom: 2%;
}

.course-feature {
  text-align: center;
  border: 3px solid #999;
  border-radius: 5%;
  margin: 5%;
  padding: 5%;
}

.feature-icon {
  color: #999;
  margin-bottom: 5%;
}
/*=============================================================================================================================================
=================================================== About PAGE ===============================================================================
=============================================================================================================================================*/

.heading h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 500%;
}

.about_info {
  text-align: justify;
  font-family: 'Crimson Text', serif;
  font-size: larger;
  padding: 1rem;
}
.img_wrapper img {
  max-width: 100%;
  max-height: 50%;
}
.about_content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.img_wrapper {
  padding-top: 5rem;
}

.about {
  margin-bottom: 5%;
}
/*=============================================================================================================================================
=================================================== not-found  ===============================================================================
=============================================================================================================================================*/

